<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Sign Up</title>
</head>

<body>
    <h1>Sign Up</h1>

    <!-- <form>
        
        <input type ="radio" id ="customer" name="type_of_user">
        <label for="customer">Customer</label> 

        <input type ="radio" id ="merchant" name="type_of_user">
        <label for="merchant">Merchant</label> <br><br>

        <input type="submit" value="Submit">

    </form> <br><br> -->
    Are you a customer or a merchant? <br><br>
    <button type="button" onclick="location.href='signup_customer.html'">customer</button> <br><br>
    <button type="button" onclick="location.href='signup_merchant.html'">merchant</button> <br><br><br>

    <a href="index.html">Back to login page</a>

</body>